@model dynamic

@{
    ViewBag.Title = "Thankyou for Sponsoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Successful)
{
    <h2>Thankyou for Sponsoring</h2>
}
else
{
    <h2>Your Sponsorship could not be processed.</h2>
}

@ViewBag.ErrorReason <br />

@Html.ActionLink("Sponsor Another Child", "Index", "Home")